doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/accueil") Accueil ( Page 1)
        li
          a(href="/page2") Page 2
        li
          a(href="/page3") Page 3
        li
          a(href="/page4") Page 4
        li
          a(href="/page5") Page 5
        li
          a(href="/compteur") Compteur de clicks
    block content